.profile-header {
    padding: 7px 12px;
    background: #f2f2f2
}
.profile-header .username {
    font-size: 12px;
    font-weight: bold;
    color: #123;
}
.profile-header .userspecial {
    font-size: 12px;
    margin-left: 7px;
    color: #bbb
}
.profile-header .useronline {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
}

.profile-columns {
    padding-top: 10px
}
.profile-left {
    width: 250px;
}
.profile-right {
    padding-left: 15px;
    width: 485px;
}

.profile-photo {
    padding-bottom: 10px
}

.profile-socials {
    padding: 10px;
    margin-bottom: 10px;
    background: #f2f2f2;
}
.profile-socials .button {
    width: 210px;
    text-align: center;
    margin-top: 10px;
}
.profile-socials .button:first-child {
    margin-top: 0px;
}
.profile-socials .social-status {
    padding: 12px 0 0;
    text-align: center;
}

.profile-info {
    padding-bottom: 10px;
}
.profile-info .label {
    width: 135px;
    color: #778899;
}
.profile-info .labeled {
    width: 250px;
    overflow: hidden;
}
.profile-info .labeled a {
    font-weight: normal;
}
.profile-info .miniblock {
    padding-top: 5px;
}

.profile-positive-rep {
    color: #95b84d;
}
.profile-positive-rep a {
    color: #95b84d;
    margin-right: 5px
}
.profile-negative-rep {
    color: #cd0a0a;
}
.profile-negative-rep a {
    color: #cd0a0a;
    margin-left: 5px
}
.profile-invite {
    padding: 10px 0
}
.profile-invite .label {
    width: 250px;
    color: #bbb
}
.profile-invite .labeled {

}
.profile-invite-info {
    display: inline-block;
}

.module-header {
    background: #f2f2f2;
    display: block;
}
.module-header .header-top {
    background: #dee5eb;
    overflow: hidden;
    color: #45688e;
    padding: 5px 10px
}
.module-header .header-bottom {
    color: #667788;
    font-weight: normal;
    padding: 4px 10px;
    border-bottom: 1px solid #f2f2f2;
}
.module-body {
    overflow: hidden;
    padding: 6px 0px 14px 0px
}

.people {
    position: relative;
    padding: 10px 0px;
    border-top: 1px solid #ededed;
}
.people:first-child {
    border-top: 0;
}
.people.report {
    border: 1px solid #ededed;
    background: #f5f7f6;
    padding: 20px;
}

.people .photo img {
    width: 100px;
    height: 100px;
}

.people .info {
    width: 182px;
    padding-left: 14px;
    overflow: hidden;
}
.people .info.request_info {
    width: 382px;
}
.people .info > div {
    padding-bottom: 5px;
}
.people .info div.labeled.name {
    font-weight: bold;
    padding-bottom: 6px;
}
.people .info .online {
    color: #bbb
}

.people .menu {
    width: 156px;
    height: 100px;
}
.people .menu a {
    display: block;
    padding: 4px 6px;
}

.people_row {
    width: 246px;
    overflow: hidden;
}
.people_row .people_cell {
    width: 82px;
    overflow: hidden;
    text-align: center;
    padding: 6px 0px;
}
.people_row .people_cell .ava {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: block;
    padding-bottom: 8px;
    margin: 0px 6px;
}

/* Reputation */
.reputation_box {
    position: absolute;
    padding: 15px;
    border: 1px solid #ccc;
    background: #f2f2f2;
}
.reputation_box .row {
    padding-bottom: 10px;
}
.reputation_box input[type="text"] {
    width: 200px;
}
.reputation_box textarea {
    width: 200px;
    height: 100px;
}
.reputation_box .dropdown .text {
    width: 179px;
}
.reputation_box a {
    width: 198px;
    text-align: center;
}

.rep-info {
    font-size: 72px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 100px;
}
.rep-long {
    width: 422px !important;
}

.reputation_del_wrap {
    display: none;
    position: absolute;
    right: 0px;
    margin-top: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.people:hover .reputation_del_wrap {
    display: block;
}
.reputation_del_wrap:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.reputation_del {
    cursor: pointer;
    background: url(/images/statusx_op.gif) no-repeat;
    height: 11px;
    width: 11px;
}
.reputation_hider {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
}
.reputation_hider_tag {
    position: absolute;
    border-radius: 3px;
    background: #f7f7f7;
    color: #000;
    padding: 20px;
    text-align: center;
}

/* Static Manager */
#profile_css {
    display: none;
}