#purchaseform {
    position: relative;
}

#purchaseform input, #purchaseform .input_calendar {

}

#avatar {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
#avatar .iconify_x_a {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #000;
    opacity: 0.7;
    padding-right: 3px;
    filter: alpha(opacity=70);
}

.purchase_columns .purchase_column:first-child {
    margin-right: 40px;
}
.purchase_column .row label {
    display: block;
    padding-bottom: 10px;
    font-size: 14px
}

#purchases {
    padding: 10px 0
}
.purchase {
    margin: 5px 0;
    border-bottom: 1px solid #eeeeee;
}
.purchase:first-child {
    margin-top: 0
}
.purchase .info span {
    display: block;
}
.purchase .info a:hover {
    color: #254a10;
    text-decoration: underline;
}

.purchase_table {
    padding: 5px 0 10px;
    border-bottom: 1px solid #ddd
}
.purchase_table .photo {
    position: relative;
    width: 250px;
}
.purchase_table .photo .subtitle {
    position: absolute;
    bottom: 6px;
    display: block;
    padding: 5px 10px;
    width: 230px;
    background: rgba(0, 0, 0, 0.5)
}
.purchase_table .photo .subtitle .text {
    color: #fff;
    font-size: 12px;
}
.purchase_table .td {
    margin-left: 10px;
    width: 235px;
}
.purchase_table .td > div {
    padding: 5px 0px
}
.purchase_table .td .label {
    margin-right: 10px;
}
.purchase_table .td .labeled a:hover {
    color: #000;
    text-decoration: underline;

}

.purchase_fullstory {
    border-bottom: 1px solid #ddd;
}
.purchase_goods {
    padding: 10px 0
}

a.purchase_edit_story {
    display: block;
    padding: 10px 0;
    font-weight: normal;
}
a.purchase_edit_story:hover {
    background: #f2f2f2;
}

.images {
}
.images .good_image {
     position: relative;
}
.images .good_image a {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    color: #fff;
    padding: 5px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bar {
    margin-top: 5px;
    position: relative;
    width: 250px;
    overflow: hidden;
}
.bar .barline {
    float: left;
    height: 25px;
    background: #E6EFC2;
}
.bar span {
    position: absolute;
    top: 4px;
    left: 116px;
    color: #112233;
}

/* Static Manager */
#purchases_css {
    display: none;
}

table td {
    padding: 4px;
    border: 1px #c2c2c2 solid;
}

.photo {
    margin: 4px 4px 4px 0px;
}

.list_name {
    font-weight: 700;
}

.mytable {
    margin-top: 10px;
}

#purchaseform a.input_calendar {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 4px 8px 8px 8px;
    font-size: 12px;
    width: 231px;
    height: 13px;
    color: #7b8084;
    background: url('/images/textarea_login.jpg') #fefffa repeat-x top;
    border: 1px solid #557132;
}
#purchaseform a.input_calendar span {
    display: inline-block;
}
#purchaseform a.input_calendar em {
    position: absolute;
    display: none;
    right: 0;
    top: -5px;
}

#purchaseform div.dropdown {
    display: inline-block;
    text-align: left;
    position: relative;
    float: left;
    margin: 4px 0px;
}
#purchaseform div.dropdown span.text {
    float: left;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding: 4px 5px 4px 10px;
    background: #ededf0;
    min-width: 211px;
}
#purchaseform div.dropdown span.arrow {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding: 4px 4px 4px 5px;
    background: #254a10;
    text-align: center;
    color: #fff;
}
#purchaseform div.dropdown:hover span.arrow {
    background: #447229;
}

#purchaseform div.dropdown_down {
    margin-bottom: 10px;
}

#purchaseform div.dropdown ul {
    display: none;
    position: absolute;
    background: #ededf0;
    z-index: 99;
}
#purchaseform div.dropdown ul li a {
    display: block;
    padding: 4px 5px 4px 10px;
}
#purchaseform div.dropdown ul li a:hover {
    background: #508033;
    color: #fff
}

#purchaseform .fileupload .filebutton {
    position: relative;
}
#purchaseform .fileupload .filebutton input {
    position: absolute;
    right: 0;
    opacity: 0.01;
    filter: alpha(opacity=1);
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 6.54em;
    color: #444;
    min-width: 194px;
}
#purchaseform .fileupload .attach {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
    border: 0;
    font-size: 12px;
    background: url('/images/login_bttn.jpg');
    color: #fff;
    width: 233px;
    text-align: center;
}
#purchaseform .fileupload .attach:hover {
    background: #74c7f7
}

#purchaseform .light_blue.btn {
    border: 0;
    background: url('/images/login_bttn.jpg');
    color: #fff;
    height: 25px;
    width: 249px;
}
#purchaseform .light_blue.btn:hover {
    color: #fff
}

#purchaseform input[type='text'], textarea {
    padding: 8px;
    font-size: 12px;
    width: 231px;
    height: 9px;
    color: #7b8084;
    background: url('/images/textarea_login.jpg') #fefffa repeat-x top;
    border: 1px solid #557132;

}
.purchase_name {
    background: #70973f;
    color: #fff;
    padding: 4px 20px 4px 20px;
}
.purchase_name a {
    font-weight: 700;
    color: #fff;
}

