#purchaseform {
    position: relative;
}

#purchaseform input, #purchaseform .input_calendar {
    width: 300px
}

#avatar {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
#avatar .iconify_x_a {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #000;
    opacity: 0.7;
    padding-right: 3px;
    filter: alpha(opacity=70);
}

.purchase_columns .purchase_column:first-child {
    margin-right: 40px;
}
.purchase_column .row label {
    display: block;
    padding-bottom: 10px;
    font-size: 12px
}

#purchases {
    padding: 10px 0
}
.purchase {
    margin: 5px 0;
    border-bottom: 1px solid #eeeeee;
}
.purchase:first-child {
    margin-top: 0
}
.purchase .info span {
    display: block;
}
.purchase .info a:hover {
    color: #254a10;
    text-decoration: underline;
}

.purchase_table {
    padding: 5px 0 10px;
    border-bottom: 1px solid #ddd
}
.purchase_table .photo {
    position: relative;
    width: 250px;
}
.purchase_table .photo .subtitle {
    position: absolute;
    bottom: 6px;
    display: block;
    padding: 5px 10px;
    width: 230px;
    background: rgba(0, 0, 0, 0.5)
}
.purchase_table .photo .subtitle .text {
    color: #fff;
    font-size: 12px;
}
.purchase_table .td {
    margin-left: 10px;
    width: 235px;
}
.purchase_table .td > div {
    padding: 5px 0px
}
.purchase_table .td .label {
    margin-right: 10px;
}
.purchase_table .td .labeled {
    width: 160px;
}

.purchase_fullstory {
    border-bottom: 1px solid #ddd;
}
.purchase_goods {
    padding: 10px 0
}

a.purchase_edit_story {
    display: block;
    padding: 10px 0;
    font-weight: normal;
}
a.purchase_edit_story:hover {
    background: #f2f2f2;
}

.images {
}
.images .good_image {
     position: relative;
}
.images .good_image a {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    color: #fff;
    padding: 5px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bar {
    margin-top: 5px;
    position: relative;
    width: 250px;
    overflow: hidden;
}
.bar .barline {
    float: left;
    height: 25px;
    background: #E6EFC2;
}
.bar span {
    position: absolute;
    top: 4px;
    left: 116px;
    color: #112233;
}

/* Static Manager */
#purchases_css {
    display: none;
}

table td {
    padding: 4px;
    border: 1px #c2c2c2 solid;
}

.photo {
    margin: 4px 4px 4px 0px;
}

.list_name {
    font-weight: 700;
}