#sites_css {
    display: none;
}

table.sites {
    width: 100%;
}
table.sites tr {
    cursor: pointer;
}
table.sites tr:hover td {
    background: #f2f2f2;
}
table.sites td {
    padding: 10px;
}